body {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  min-height: 100vh;
  max-width: 80vw;
  margin: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 0.25em;
}

.cell-inline {
  display: flex;
  gap: 0.25em;
  border: none;
}

.listados {
  margin-top: 0.5em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1em;
}

h1 {
  color: darkorange;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}

.button {
  display: inline-block;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  border: 1px solid gray;
}

.button:hover {
  box-shadow: 1px 1px 5px gray;
}

.button--primary {
  background-color: dodgerblue;
  color: snow;
}

.button--danger {
  padding: 0.4em 0.5em;
  background-color: red;
  color: snow;
}

.form__group {
  margin-bottom: 0.5em;
}

.form__input {
  padding: 0.25em;
  border-radius: 5px;
  border: 1px solid gray;
}

footer {
  text-align: center;
}