<h1>Contacto</h1>

<form action="/contacto" method="post">
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre">
    </div>
    <div>
        <label for="correo">Correo: </label>
        <input type="email" name="correo" id="correo">
    </div>
    <div>
        <label for="mensaje">Mensaje: </label>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
    </div>
    <button type="submit">Enviar</button>
</form>