<header>
  <nav class="nav">
    <a href="/">CRUD con Node.js</a>
    <ul class="menu">
      <li class="menu__item"><a href="/">Inicio</a></li>
      <li class="menu__item"><a href="/productos">Productos</a></li>
      <li class="menu__item"><a href="/categorias">Categorías</a></li>
    </ul>
  </nav>
</header>