# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_DATABASE=crud_node

# Configuración de JWT
JWT_SECRET=tu_secreto_jwt_seguro
JWT_EXPIRES_IN=24h

# Otras configuraciones
CORS_ORIGIN=http://localhost:4200